doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title My first Pug Page!
  body
    h1.
      My
      first
      Pug Page!
    main
      h2 This is the very best part of my page!
      div.my-div
      #my-div
      .my-div.red.big#ugly
      a(href="https://www.google.com") Google
      link(rel="stylesheet", href="css/style.css")
      div(data-temp='28' id='temp')
      div#temp(data-temp='28')
